@font-face {
    font-family: "moon";
    src: url("FONT/Moon Light.otf")
}

@font-face {
    font-family: "avenir regular";
    src: url("FONT/AVENIR/AvenirNextLTPro-Regular.otf")
}

@font-face {
    font-family: "avenir bold";
    src: url("FONT/AVENIR/AvenirNextLTPro-Bold.otf")
}

@font-face {
    font-family: "avenir medium condensed";
    src: url("FONT/AVENIR/AvenirNextLTPro-MediumCn.otf")
}

* {
    font-family: "avenir regular";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 90%;
    margin: auto;
}

.flex-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 500;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 28%);
}

.flex-menu a {
    padding: 20px;
    flex: 1;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.1s all ease-in-out;
}

.flex-menu a:hover {
    background-color: rgb(206, 206, 206);
}

.home {
    height: 30vh;
    margin-top: 200px;
    margin-bottom: 200px;
}

.home-name {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home-name h1 { 
    font-size: 70px;
}

.home-name h2 { 
    font-size: 50px;
}

.title {
    text-align: center;
    margin: 50px;
}

.about-me-img {
    height: 300px;
    width: auto;
    border-radius: 100%;
}

.about-me-content {
    text-align: center;
}

.img-hob {
    flex: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-position: center;
}

.hobbies-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 500px;
}

.img-hob h4 {
    text-align: center;
    background-color: #00000080;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.img-hob p {
    font-size: 18px;
    color: white;
    background-color: #000000a6;
    padding: 5px;
}

.formation-section {
    margin: 50px;
    border-left: 2px solid rgba(0, 0, 0, 0.253);
    margin: 50px;
    padding-left: 20px;
}

.project-section {
    display: flex;
    flex-direction: row;
}

.project-flex {
    flex: 1;
}

section.project-description-section.project-flex {
    margin: 5px;
}

section.project-description-section h6 {
    font-size: 30px;
    margin-bottom: 5px;
}

span.project-year {
    margin-right: 10px;
    color: #0089ff;
    font-family: "avenir bold";
}

p.p-description {
    margin: 5px;
}

section.title h3 {
    margin-top: 150px;
    font-family: "moon";
    font-size: 50px;
}

.warning {
    background-color: rgb(255, 187, 0);
}

.success {
    background-color: rgb(45, 221, 45);
}

.p-visit {
    border: none;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    font-family: "moon";
    color: white;
    transition: 0.2s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
    margin-bottom: 10px;
    border-radius: 8px;
    z-index: 200;
}

.p-visit:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.disabledButton {
    background-color: rgb(187, 187, 187);
}

.disabledButton {
    cursor:auto !important;
    filter: none !important;
}

hr {
    margin: 50px;
    opacity: 0.3;
}

.backgroundModale {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

.imgPreview {
    position: relative;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.skills-bar-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-competence {
    background-color: gainsboro;
    width: 30%;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.skill-competence h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.skill-competence ul {
    list-style-type: none;
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 25px;
}

.date-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-language {
    font-family: "avenir bold";
    font-style: italic;
}

.hobbies-content {
    display: flex;
    flex-direction: row;
}

section.ho-fp {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.se-fp {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.rowDiv {
    min-height: 400px;
    margin: 5px;
    background-color: rgb(202, 202, 202);
}

.colDiv {
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: 5px;
    background-color: rgb(202, 202, 202);
}

section.sub-fp-se {
    display: flex;
    justify-content: space-evenly;
}

.am-presentation {
    padding: 50px;
    text-align: center;
}

.CV {
    text-align: center;
    text-decoration: none;
    background-color: #88aefd;
    color: white;
    padding: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 50px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

h4.form-year-title {
    font-size: 30px;
    font-family: "avenir bold";
    margin-bottom: 10px;
}

h5.form-type {
    font-size: 25px;
    margin-right: 20px;
}

.diplome h6 {
    font-size: 15px;
}

.diplome {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.year-loc {
    margin-bottom: 10px;
    font-style: italic;
}

.year-loc i {
    color: #0089ff;
}


.exp{
	min-height: 100vh;
	position: relative;
}

.exp-title{
	padding-top: 10px;
	top: 20px;
	text-align: center;
}

.exp-title h3{
	color: black;
	font-weight: normal;
	font-size: 60px;
	opacity: 0;
	transform: translateX(-200%);
	transition: 1.8s all ease-in-out;
	margin-bottom: 150px;
}

.exp-section{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.exp-section-year{
	width: 20%;
	text-align: right;
}

.exp-section-year p{
	margin: auto;
	color: black;
	font-size: 30px;
	width: 90%;
	padding-top: 50px;
}

.exp-section-point{
	width: 10%;
	text-align: center;
}

.exp-bar{
	min-height: 50px;
	margin: auto;
	width: 10px;
	height: 100%;
	background-color: #3267D2;
	position: relative;
}

.top-bar:before{
	content: '';
	position: absolute;
	left: -7px;
	top: -23px;
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 23px solid #3267D2;
	/* border-right: 25px solid #B3B7DC;blue */
}

.last-bar:before {
	content: '';
	position: absolute;
	left: -7px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 20px solid #ffffff;
	/* border-right: 25px solid #B3B7DC;blue */
}

.exp-point{
	position: absolute;
	margin: auto;
	width: 20px;
	height: 20px;
	background-color: rgb(58, 58, 58);
	border-radius: 100%;
	transform: translate(-25%,50%);
	margin-top: 50px;
}

.exp-section-text{
	width: 70%;
}

.exp-section-text h3{
	color: #3267D2;
	font-size: 35px;
	margin-bottom: 10px;
	padding-top: 50px;
	
}

.exp-section-text p{
	color: black;
	font-size: 20px;
	font-family: "avenir regular";
}

.contact{
	min-height: 90vh;
	position: relative;
}

.contact-title{
	padding-top: 10px;
	top: 20px;
	text-align: center;
}

.contact-title h3{
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-size: 60px;
	opacity: 0;
	transform: translateX(-200%);
	transition: 1.8s all ease-in-out;
	margin-bottom: 150px;
}

.contact-section{
	height: 100%;
	width: 100%;
	text-align: center;
}

.contact-section>div{
	display: flex;
	flex-direction: row;
	height: 100px;
}

.contact-section div .c-i{
	flex: auto;
	justify-content: flex-end;
	display: flex;
	padding-right: 50px;
}

.contact-section div .c-p{
	flex: 2;
	justify-content: flex-start;
	display: flex;
}

.contact-section div p,.contact-section div a{
	height: auto;
	color: rgb(0, 0, 0);
	font-size: 40px;
	text-decoration: none;
}

.contact-section i{
	font-size: 60px;
	color: #3267D2;
}


footer {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    color: #000000;
    font-size: 20px;
    background-color: rgb(224, 224, 224);
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    margin-top: 50px;
}

.reference-section {
    text-align: left;
    font-size: 25px;
    width: 80%;
    margin: auto;
}