.swipe-container {
    position: relative;
    height: 400px;
    width: auto;
    overflow: hidden;
}

.swipe-container .left {
    left: 20px;
}

.swipe-container .right {
    right: 20px;
}

.swipe-container .right, .swipe-container .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    z-index: 100;    
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #ecececc2;
    transition: 0.1s all ease-in-out;
}

.swipe-container .right:hover, .swipe-container .left:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.swipe-container .right i, .swipe-container .left i {
    font-size: 20px;
    line-height: 40px;
    text-align: center; 
}

.swiper-slide {
    position: absolute;
    transition: 0.2s all ease;
    height: 400px;
    min-width: 400px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.swipe-none {
    opacity: 0;
    transform: translateX(-100%);
}