 @media only screen and (max-width: 1150px) {
   
   /* ANCHOR LOADER */
   
       .loader{
           position: fixed;
           background-color: #121212;
           height: 100vh;
           width: 100vw;
           overflow: hidden;
           z-index: 10;
           transition: 0.5s all ease;
       }
   
       .loader div{
           position: absolute;
           top: 50%;
           left:50%;
           margin-top: -150px;
           margin-left: -150px;
           width: 300px;
           height: 300px;
           border:5px solid rgb(0, 110, 255);	
           border-right: none;
           border-top: none;
           border-radius: 100%;
           animation: loading 1.5s infinite linear;
       }
   
       @keyframes loading {
           to{
               transform: rotate(360deg);
           }
       }
   
   /* END LOADER */
   
   /* ANCHOR ANIMATION CLASS */
   
       .animateBeforeLeft{
           opacity: 0;
           /* transform: translateX('-200%'); */
       }
   
       .animateBeforeRight{
           opacity: 0;
           /* transform: translateX('200%'); */
       }
   
   /* END ANIMATION CLASS */
   
   /* ANCHOR HOME */
   
       .CV {
           position: absolute;
           left: 50%;
           transform: translateX(-50%);
           top: 50px;
           padding: 15px 40px 15px 40px ;
           background-color: #3267D2;
           transition: 0.1s all ease-in-out;
           color: white;
           text-decoration: none;
           font-size: 40px;
       }

       .menu-infos{
           display: none;
       }

   
       .home{
           background-color: #232323;
           /* background-color: #1F2754; blue */
           height: 100vh;
           width: 100vw;
           overflow: hidden;
           position: relative;
           text-align: center;
       }
   
       .home-name{
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           width: 100%;
       }
   
       .home h1{
           font-size: 120px;
           color: white;
           font-weight: normal;
       }
   
       .home h2{
           font-size: 40px;
           color: white;
           font-weight: normal;
       }
   
       .polygon{
           height: 100vh;
           width: 100vw;
           position: sticky;
       }
   
       .p-home{
           fill:#161616;
       }
   
   /* END HOME */
   
   
   /* ANCHOR MENU */
   
       .menu{
           display: none;
       }
   
   /* END MENU */
   
   
   /* ANCHOR ABOUT ME */
   
       .about-me{
           background-color: #3D3D3D;
           /* background-color: #252E5E; */
           height: 100vh;
           width: 100vw;
           overflow: hidden;
           position: relative;
           text-align: center;
       }
   
       .p-about-me{
           /* fill:#1F2754; */
           fill:#232323;
       }
   
       .title{
           position: absolute;
           top: 20px;
           left: 50%;
           transform: translateX(-50%);
       }
   
       .title h3{
           color: white;
           font-weight: normal;
           font-size: 60px;
           opacity: 0;
           transform: translateX(-200%);
           transition: 1.8s all ease-in-out;
       }
   
       .am-flex{
           background-color: #3267D2;
           /* background-color: #151E53; */
           display: flex;
           flex-direction: row;
           width: 90vw;
           height: auto;
           position: absolute;
           top: 20vh;
           left: 50%;
           transition: 0.3s all ease-in-out;
           transform: translateX(-50%);
       }
   
       .am-img{
           position: relative;
           height: auto;
           overflow: hidden;
           background-color: #3267D2;
           left:0;
           min-height: 15vh;
           width: 30%;
       }
   
       .am-img img{
           position: absolute;
           top: 50%;
           left:50%;
           transform: translate(-50%,-50%);
           height: auto;
           width: 100%;
           max-width: 30vh;
           transition: 1s transform ease-in-out;
       }
   
       .img-3d{
           position: absolute;
       }
   
       
       #pp-2{
           transform: rotate3d(1, 0, 0, 90deg);
           transform-origin: top center;
       }
       
       #pp-3{
           transform: rotate3d(0, 1, 0, 90deg);
           transform-origin: top right;
       }
       
       .am-presentation{
           color:white;
           font-size: 30px;
           font-family: "avenir regular";
           padding:15px;
           text-align: left;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 70%;
       }
   
       .am-presentation p{
           font-family: "avenir regular";
       }
   
       .am-flex-2{
           background-color: #3267D2;
           /* background-color: #151E53; */
           display: flex;
           flex-direction: row;
           width: 90vw;
           height: 30vh;
           position: absolute;
           top: 40vh;
           left: 50%;
           transition: 0.3s all ease-in-out;
           transform: translateX(-50%);
           justify-content: space-between;
       }
   
       canvas{
           background-color: white;
       }
   
       .am-presentation-2{
           color:white;
           font-size: 30px;
           font-family: "avenir regular";
           padding:15px;
           text-align: left;
           display: flex;
           justify-content: center;
           align-items: center; 
       }
   
       .am-presentation-2 p{
           font-family: "avenir regular";
       }
   
   /* END ABOUT ME */
   
   /* ANCHOR HOBBIES */
   
       .hobbies{
           background-color: #3D3D3D;
           /* background-color: #252E5E; */
           min-height: 100vh;
           width: 100vw;
           overflow: hidden;
           position: relative;
           text-align: center;
       }

       .hobbies .title{
           position: relative;
           margin-bottom: 2vh;
       }
   
       .title h3{
           color: white;
           font-weight: normal;
           font-size: 60px;
           opacity: 0;
           transform: translateX(-200%);
           transition: 1.8s all ease-in-out;
       }
   
       .hobbies-imgs{
           margin:auto;
           width: 100vw;
           min-height: 100vh ;
           display: flex;
           bottom: 0;
           flex-direction: column;
       }
   
       .hobbies-imgs div{
           height: 50vh;
           width: 100%;
           background-size: cover;
           background-position: center;
           transition:0.3s all ease-in-out;
           flex: 1;
           position: relative;
           text-align: left;
       }
   
       .hobbies-imgs h4{
           font-family: "avenir bold";
           color: white;
           font-size: 40px;
           z-index: 2;
           box-sizing: border-box;
           left: 0;
           top: 0;
           position: absolute;
           transform-origin: top left;
           transform: rotate(90deg) translateX(0%) translateY(-100%);
           width: 25vh;
           background-color: rgba(80, 77, 77, 0.753);
           margin-top: 10vh;
           height: 6vh;
           line-height: 6vh;
       }
   
       .hobbies-imgs h4:before{
           content: '';
           position: absolute;
           left: -5vh;
           top: 0;
           width: 0;
           height: 0;
           border-top: 6vh solid transparent;
           border-right: 5vh solid rgba(80, 77, 77, 0.753);
       }
   
       .hobbies-imgs h4:after{
           content: '';
           position: absolute;
           left: 25vh;
           top: 0;
           width: 0;
           height: 0;
           border-bottom: 6vh solid transparent;
           border-left: 5vh solid rgba(80, 77, 77, 0.753);
       }

       .img-hob{
            transform: translate3d();
        }

        .img-hob P{
            position: absolute;
            left:50%;
            bottom:10px;
            transform: translateX(-50%);
            padding: 10px;
            font-family: "avenir regular";
            background-color: rgba(194, 194, 194, 0.842);
            opacity: 0;
            transition: 0.5s all ease-in-out;
            width: 100%;
            text-align: center;
            font-size: 40px;
        }

        .text-hobbie-visible {
            opacity: 1 !important;
        }

        .img-hob:hover{
            flex:2;
        }
   
   /* END HOBBIES */
   
   /* ANCHOR FORMATION */
   
       .formation{
           background-color: #3D3D3D;
           /* background-color: #252E5E; */
           height: auto;
           width: 100vw;
           overflow: hidden;
           position: relative;
           text-align: center;
           padding-bottom: 10vh;
       }

       .formation .title{
           margin-top: 10vh;
           position: relative;
           margin-bottom: 5vh;
       }
   
       .title h3{
           color: white;
           font-weight: normal;
           font-size: 60px;
           opacity: 0;
           transform: translateX(-200%);
           transition: 1.8s all ease-in-out;
       }
   
       .formation-section {
           width: 100%;
           height: auto;
           /* margin-top:15vh; */
           position: relative;
           text-align: center;
       }
   
       .form-2015{
           margin:auto;
           background-color: white;
           width: 100%;
           /* height: 50vh; */
           border-radius: 20px;
           position: relative;
           transition: 0.5s all ease-in-out;
           z-index: 2;
           padding-bottom: 5vh;
       }
   
       .form-year-title{
           text-align: center;
           font-weight: normal;
           font-size: 40px;
           color: white;
           background-color: #3267D2;
           height: 60px;
           line-height: 60px;
           margin-bottom: 50px;
       }
   
       .year-info{
           font-size: 35px;
           font-family: "avenir regular";
           margin-top: 2vh;
           width: 100%;
           bottom: 150px;
       }
   
       .year-loc{
           color: #3267D2;
           font-size: 25px;
           margin-top: 1vh;
       }
   
       .year-loc span{
           font-family: "avenir regular";
       }
   
       .formation svg{
           margin:auto;
           position: absolute;
           left:0;
           top:60vh;
           width: 100%;
           text-align: center;
       }
   
       .formation .polygon{
           margin:auto;
           position: absolute;
           left:0;
           top:0vh;
           width: 100%;
           text-align: center;
       }
   
       .formation .polygon-inverse{
           margin:auto;
           position: absolute;
           left:0;
           width: 100%;
           height: 100vh;
           text-align: center;
           margin-bottom: 0;
           bottom:0;
       }
   
       .formation line{
           text-align: center;
           z-index: 4;
           stroke-dasharray: 50;
           animation:dash 10s linear infinite;
       }
   
       @keyframes dash{
           to{
               stroke-dashoffset: -500;
           }
       }
   
       .form-type{
           margin-bottom: 0;
           font-size: 70px;
           font-weight: normal;
           margin-bottom: 1vh;
       }
   
       .flex-formation {
           /* position: absolute; */
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           height: 60%;
           width: 100%;
       }
   
       .diplome{
           width: 100%;
       }
   
       .diplome h6{
           font-size: 25px;
       }
   
       .display-info{
           bottom:20px;
           left:20px;
           position: absolute;
           background-color: rgb(66, 124, 241);
           /* background-color: rgb(126, 189, 231); */
           padding:0px 30px 0px 30px;
           font-size:30px;
           color:white;
           height: 60px;
           line-height: 60px;
           /* box-shadow: -10px 10px 0px #9c9c9c; */
           transition: 0.3s all ease;
           z-index: 2;
       }
   
       .display-info span{
           z-index: 4;
       }
   
       .display-info:before{
           content: '';
           position: absolute;
           top: 0;
           width: 0;
           height: 0;
           left: -1px;
           border-bottom: 31px solid transparent;
           border-top: 31px solid transparent;
           border-left: 17px solid rgb(255, 255, 255);
           z-index: 3;
       }
   
       .display-info:after{
           content: '';
           position: absolute;
           top: -1px;
           width: 0;
           height: 0;
           right: -1px;
           border-bottom: 31px solid rgb(255, 255, 255);
           border-top: 31px solid rgb(255, 255, 255);
           border-left: 23px solid transparent;
           z-index: 3;
       }
   
       .display-info:hover{
           cursor: pointer;
           /* box-shadow: 0px 0px 0px #9c9c9c; */
           /* bottom: 10px; */
           margin-left:10px;
       }
   
       .more-info{
           margin:auto;
           /* background-color: rgb(141, 141, 141); */
           background-color: rgb(34, 34, 34);
           width: 100%;
           /* height: 50vh; */
           position: absolute;
           transition: 0.5s all ease-in-out;
           z-index: 1;
           /* left:50%; */
           transform: translateY(-100%);
           border-bottom-left-radius: 20px;
           border-bottom-right-radius: 20px;
           text-align: center;
           /* margin-top:-50vh; */
           overflow: hidden;
       }
   
       .more-info div{
           margin:auto;
           width: 90%;
           height: 100%;
           padding-top: 10px;
           padding-bottom: 10px;
           text-align: left;
           color:white;
           font-size: 25px;
       }
   
       .more-info div p{
           font-family: "avenir regular";
           margin-top: 20px;
           font-size: 35px;
       }
   
       .more-info div b{
           font-family: "avenir regular";
           color: rgb(14, 63, 161);
           font-weight: bold;
       }
   
       #iut{
           margin-top: 5vh;
       }
   
       .p-formation{
           fill:#232323;
       }
   
   /* END FORMATION */
   
   /* ANCHOR SKILLS */
   
   .skills{
       background-color: #232323;
       /* background-color: #252E5E; */
       min-height: 110vh;
       width: 100vw;
       overflow: hidden;
       position: relative;
       text-align: center;
   }
   
   .title h3{
       color: white;
       font-weight: normal;
       font-size: 60px;
       opacity: 0;
       transform: translateX(-200%);
       transition: 1.8s all ease-in-out;
   }
   
   .sm-flex{
       height: 10vh;
   }
   
   .skills-menu{
       display: flex;
       flex-direction: row;
       margin-top: 10vh;
   }
   
   .skills-menu-before{
       line-height: 10vh;
       font-size: 100px;
       text-align: right;
       padding-right: 50px;
   }
   
   .skills-menu-after{
       line-height: 10vh;
       font-size: 100px;
       text-align: left;
       padding-left: 50px;
   }
   
   .skills-menu-before, .skills-menu-after{
       width: 30vw;
       z-index: 5;
       user-select: none;
   }
   
   .skills-menu-before:hover, .skills-menu-after:hover{
       cursor: pointer;
   }
   
   .r-skills-menu{
       flex:1;
       color: #0479FF;
       line-height: 10vh;
       margin-top: 5vh;
   }

   .sm-main{
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       line-height: 10vh;
   }

    .skills-menu-before,.skills-menu-after{
       display: none;
   }
   
   .sm-main p{
       flex:1;
       font-size: 60px;
       color: #004A9F;
       /*margin-left: 50px;
       margin-right: 50px;*/
   }
   
   .skill-part{
       transition: 0.2s all ease-in-out;
   }
   
   .skill-part:hover{
       cursor: pointer;
   }
   
   .skills-container {
       width: 100vw;
       min-height: 30vh;
       position: relative;
   }
   
   .skill-presentation{
       position: absolute;
       transition: 0.5s all ease-in-out;
       transform: translateX(200%);
       width: 100vw;
       color: white;
       font-size: 50px;
   }
   
   .skill-flex{
       display: flex;
       margin-top: 8vh;
       flex-direction: column;
       justify-content: space-around;
       margin-right: 3vw;
       margin-left: 3vw;
   }
   
   .skill-flex-box{
       width: 95%;
       height: auto;
       /* min-height: 60vh; */
       background-color: #D8D8D8;
       margin-right: 2vw;
       margin-left: 2vw;
       position: relative;
       padding: 20px;
       /* max-width: 40vw; */
       margin-bottom: 5vh;
   }
   
   
   .skill-name{
       font-size: 25px;
       position:absolute;
       left: 0;
       bottom: 0;
       background-color: #0479FF;
       transform: translate(-15%,50%);
       padding: 15px 50px 15px 50px;
   }
   
   .skills-bar-section{
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   .skill-competence{
       margin-top: 1vh;
       margin-bottom: 1vh;
   }
   
   .skill-competence legend{
       font-size: 20px;
       color: #292929;
       text-align: left;
   }
   
   .skill-more-section{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
   
   .bar-competence-empty{
       width: 90%;
       height: 5vh;
       background-color: #464646;
       position: relative;
   }
   
   .bar-more-div{
       height: 100%;
   }
   
   .more-info-skill{
       margin: auto;
       width: 5vh;
       height: 5vh;
       border-radius: 100%;
       background-color: #0479FF;
       text-align: center;
       line-height: 5vh;
       position: relative;
       transition: 0.2s all ease-in-out;
   }
   
   .more-info-skill:hover{
       cursor: pointer;
       background-color: rgb(0, 105, 224);
   }
   
   .plus-b1{
       position:absolute;
       margin: auto;
       width: 50%;
       height: 10%;
       background-color: #464646;
       margin-top: 50%;
       left:50%;
       transform: translate(-50%,-50%);
       border-radius: 30%;
   }
   
   .plus-b2{
       position:absolute;
       margin: auto;
       width: 50%;
       height: 10%;
       background-color: #464646;
       margin-top: 50%;
       left:50%;
       border-radius: 30%;
       
       transform-origin: center center;
       transform: translate(-50%,-50%) rotate(90deg);
       transition: 0.2s all ease-in-out;
   }
   
   .bar-competence-percent{
       background-color: #0479FF;
       position: absolute;
       height: 100%;
       left:0;
   }
   
   .more-skills-bar-section{
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   .more-skill-competence{
       max-height: auto;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       margin-left: 5vw;
       transition: 0.4s all ease-in-out;
   }
   
   .bar2{
       background-color: #FF7904;
   }
   
   .more-info-skill-section{
       max-height: 2000px;
       margin-top: 1vh;
       opacity: 1;
       /*transform: translateX(0%);*/
       transition: 0.4s all ease-in-out;
   }
   
   /* END SKILLS */
   
   /* ANCHOR PROJECTS */
   
   .projects{
       background-color: #232323;
       min-height: 100vh;
       width: 100vw;
       overflow: hidden;
       text-align: center;
       padding-bottom: 20vh;
   }
   
   .project-section {
       text-align: center;
       margin-top: 15vh;
       width: auto;
       margin-left: 2.5%;
       margin-right: 2.5%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       height: auto;
       overflow: hidden;
       padding-bottom: 100px;
   }
   
   .p-title{
       margin-top: 10px;
       top: 20px;
       text-align: center;
   }
   
   .p-title h3{
       color: white;
       font-weight: normal;
       font-size: 60px;
       opacity: 0;
       transform: translateX(-200%);
       transition: 1.8s all ease-in-out;
   }
   
   .project-flex {
       width: 100%;
       margin-bottom: 1vh;
   }
   
   .project-image-section {
       /*background-color: #3D3D3D;*/
       display: flex;
       flex-direction: column;
       position: relative;
       overflow: hidden;
       min-height: 20vh;
   }
   
   .project-image-section img{
       width: 50px;
       height: auto;
       border-radius: 5px;
   }
   
   .p-img-up {
       flex: 3;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       min-height: 50vh;
       height: auto;
       align-items: center;
   /*	background-color: rgb(82, 82, 82);*/
       background-color: #191919;
   }
   
   .p-img-up>div{
       width: 100%;
       height: auto;
       margin: 10px;
   }
   
   .p-img-up img{
       width: 90%;
       height: auto;
       transition: 0.1s all ease-in-out;
   }
   
   .p-img-up img:hover{
       cursor: pointer;
       filter: brightness(110%);
   }
   
   .p-img-down {
       display: none;
   /*	flex: 1;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;*/
   }
   
   .img-preview-before {
       top: 0;
       z-index: 50;
   }
   
   .img-preview-after {
       bottom: 0;
       transform: rotate(180deg);
   }
   
   .img-preview-before,.img-preview-after {
       position: absolute;
       font-size: 150px;
       color: rgb(100, 100, 100);
       transition: 0.2s all ease-in-out;
       user-select: none;
       width: 100%;
       /*background-color: rgb(61, 61, 61);*/
       background-color: #121212;
       height: 100px;
   }
   
   .img-preview-before:hover,.img-preview-after:hover {
       cursor: pointer;
       color: rgb(255, 255, 255);
   }
   
   #bg{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(49, 49, 49, 0.753);
       overflow: hidden;
       z-index: 100;
   }
   
   #lightbox{
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       /*right: 0;
       bottom: 0;
       margin:10%;*/
       text-align: center;
       padding: 20px;
       border-radius: 10px;
   /*	background-color: rgb(224, 224, 224);
       box-shadow: 10px 10px 10px black;*/
       z-index: 2;
       height: 80vh;
       width: auto;
       z-index: 101;
       padding-bottom: 60px;
   }
   
   #lightbox img{
       height: 80vh;
       width: auto;
   }
   
   #buttonClose{
       background-color:rgb(150, 40, 40);
       position: absolute;
       bottom: 0;
       left: 50%;
       width: 50%;
       height: 50px;
       color: white;
       text-align: center;
       line-height: 50px;
       cursor: pointer;
       transition: all 0.2s ease;
       z-index: 102;
       transform: translateX(-50%);
   }
   
   #buttonClose:hover{
       background-color:rgb(240, 47, 47);
       font-weight: bold;
   }
   
   .project-description-section {
       width: 100%;
       text-align: left;
       position: relative;
   }
   
   .project-description-section h6{
       font-weight: none;
       color: white;
       font-size: 80px;
       margin-bottom: 2vh;
   }
   
   .project-year {
       font-size: 60px;
       color: #0479FF;
   }
   
   .project-language {
       font-size: 50px;
       font-family: "avenir medium condensed";
       color: white;
       margin-left: 10px;
   }
   
   .p-description {
       color: white;
       font-size: 30px;
       font-family: "avenir regular";
       margin-top: 20px;
   }
   
   .p-visit{
       background-color: #0479FF;
       color: white;
       border:none;
       font-size: 50px;
       position: absolute;
       bottom: 0;
       transition: 0.1s all ease-in-out;
       left: 50%;
       padding: 20px 50px 20px 50px;
       transform: translate(-50%,120%);
   }
   
   .p-visit-disabled{
       background-color: rgb(255, 4, 4);
       color: white;
       border:none;
       font-size: 50px;
       position: absolute;
       bottom: 0;
       transition: 0.1s all ease-in-out;
       left: 50%;
       padding: 20px 50px 20px 50px;
       transform: translate(-50%,120%);
   }
   
   .p-visit:hover{
       cursor: pointer;
       background-color: rgb(0, 97, 207);
   }
   
   /* END PROJECTS */
   
   /* ANCHOR EXP */
   
   .exp{
       min-height: 100vh;
       position: relative;
       background-color: #232323;
   }
   
   .exp-title{
       padding-top: 10px;
       top: 20px;
       text-align: center;
   }
   
   .exp-title h3{
       color: white;
       font-weight: normal;
       font-size: 60px;
       opacity: 0;
       transform: translateX(-200%);
       transition: 1.8s all ease-in-out;
       margin-bottom: 150px;
   }
   
   .exp-section{
       display: flex;
       flex-direction: row;
       width: 95vw;
       justify-content: flex-start;
   }
   
   .exp-section-year{
       width: 20%;
       text-align: right;
   }
   
   .exp-section-year p{
       margin: auto;
       color: white;
       font-size: 30px;
       width: 90%;
       padding-top: 50px;
   }
   
   .exp-section-point{
       width: 10%;
       text-align: center;
   }
   
   .exp-bar{
       min-height: 50px;
       margin: auto;
       width: 10px;
       height: 100%;
       background-color: #3267D2;
       position: relative;
   }
   
   .top-bar:before{
       content: '';
       position: absolute;
       left: -7px;
       top: -23px;
       width: 0;
       height: 0;
       border-right: 12px solid transparent;
       border-left: 12px solid transparent;
       border-bottom: 23px solid #3267D2;
       /* border-right: 25px solid #B3B7DC;blue */
   }
   
   .last-bar:before {
       content: '';
       position: absolute;
       left: -7px;
       bottom: 0px;
       width: 0;
       height: 0;
       border-right: 12px solid transparent;
       border-left: 12px solid transparent;
       border-bottom: 20px solid #232323;
       /* border-right: 25px solid #B3B7DC;blue */
   }
   
   .exp-point{
       position: absolute;
       margin: auto;
       width: 20px;
       height: 20px;
       background-color: white;
       border-radius: 100%;
       transform: translate(-25%,50%);
       margin-top: 50px;
   }
   
   .exp-section-text{
       width: 70%;
   }
   
   .exp-section-text h3{
       color: #3267D2;
       font-size: 35px;
       margin-bottom: 10px;
       padding-top: 50px;
       
   }
   
   .exp-section-text p{
       color: white;
       font-size: 20px;
       font-family: "avenir regular";
   }
   
   /* END EXP */
   
   /* ANCHOR CONTACT */
   
   .contact{
       min-height: 60vh;
       position: relative;
       background-color: #232323;
       padding-top: 15vh;
   }
   
   .contact-title{
       padding-top: 10px;
       top: 20px;
       text-align: center;
   }
   
   .contact-title h3{
       color: white;
       font-weight: normal;
       font-size: 60px;
       opacity: 0;
       transform: translateX(-200%);
       transition: 1.8s all ease-in-out;
       margin-bottom: 150px;
   }
   
   .contact-section{
       height: 100%;
       width: 100%;
       text-align: center;
   }
   
   .contact-section>div{
       margin-bottom: 5vh;
       display: flex;
       flex-direction: row;
       width: 90%;
       height: 100px;
   }
   
   .contact-section div .c-i{
       flex: auto;
       justify-content: flex-end;
       display: flex;
       padding-right: 50px;
   }
   
   .contact-section div .c-p{
       flex: 2;
       justify-content: flex-start;
       display: flex;
       line-height: 100px;
   }
   
   .contact-section div p,.contact-section div a{
       height: auto;
       color: white;
       font-size: 40px;
       text-decoration: none;
   }
   
   .contact-section i{
       font-size: 100px;
       color: #3267D2;
   }
   
   /* END CONTACT */


   footer{
	height: 20vh;
	line-height: 20vh;
	text-align: center;
	color: #3267D2;
	font-size: 20px;
}

/* ANCHOR ADDITIONNAL CLASS */

.skills-selected{
	font-size: 80px !important;
	color: #0479FF !important;
}

.visible-skill{
	opacity: 1;
	transform: translateX(0%) !important;
}

.leave-skill{
	transform: translateX(-200%);
}

.hidden-skill{
	max-height: 0;
	opacity: 0;
/*	transform: translateX(200%);
	overflow: hidden;*/
}

.rotate-plus{
	transform: rotate(45deg);
}

.return {
	opacity: 0;
	transition: none;
}

/* END ADDITIONNAL CLASS */

::-webkit-scrollbar{
	width: 0;
}

}